/* css styles */

audio {
  width: 100px;
  height: 20px;
  vertical-align: middle;
}

.cvdate {
  float: right;
  font-style: italic
}

.center {
  text-align: center;
}

.gif {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}