/* css styles */

audio {
  width: 100px;
  height: 20px;
  vertical-align: middle;
}

.cvdate {
  float: right;
  font-style: italic
}

.center {
  text-align: center;
}

.small_caption {
  text-align: right;
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}